@import url('https://fonts.googleapis.com/css2?family=Alice&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../img/Página\ de\ receita.jpg);
    background-size: cover;
    font-family: "Alice", serif;
    line-height: 150%;
    color: #573A37;
    
}
#page{
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin: 48px auto;
    
}
main{
    padding: 24px;
}

img {
    border-radius: 16px;
    
}
h1{
   line-height: 140%;
   font-size: 40px; 
}
h2{
    font-size: 24px;
}
h1, h2{
    margin-bottom: 4px;
    color: #291B1A;
    line-height: 150%;
}
.about > p {
    margin-top: 12px;
} 
p {
    margin-top: 24px;
}
section + section {
    margin-top: 24px;
}

ul {
    padding-left: 26px;
}
footer{
    color: white;
    text-align: center;
    padding-bottom: 40px;
}
footer img {
    vertical-align: middle;
}